<!doctype html>

<html>
<head>
	<title>Test Page</title>
</head>
<body>
	<div class="container">
		App Name

		<div class="message" id="message">
		</div>

		<div class="profile" id="profile1">
			<a href="profiles/JohnDoe.html"> John Doe </a>
		</div>

		<div class="profile" id="profile2">
		</div>

		<div class="profile" id="profile3">
		</div>

		<div class="profile" id="profile4">
		</div>

		<div class="profile" id="profile5">
		</div>

		<div class="profile" id="profile6">
		</div>

<!-- <a href="URL HERE"> Messages </a>
<a href="URL HERE"> John Doe </a>
<a href="URL HERE"> Kaila Lee </a>
<a href="URL HERE"> Jennifer Chan </a>
<a href="URL HERE"> Julia Connly </a>
<a href="URL HERE"> Jim Bob </a>
<a href="URL HERE"> Kobe Bryant </a>
 -->
 </div>
</body>
</html>
